body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    padding-top: 20px;
}

section {
    height: 90vh;
}

#conteudo{
    margin: 30px auto;
    color: blue;
    text-align: center;
}

.titulo{
    padding-top: 30px;
    margin: 50px auto;
    text-align: center;
    color:red ;
}

#bg{
    background-color: rgb(224, 231, 236);
}

.filter{
    -webkit-backdrop-filter: sepia(15px); /* Safari 9+ */
    backdrop-filter: sepia(5px); /* Chrome and Opera */
    background-color:rgba(158, 146, 114, 0.178);
}

